#result{
    font-size: 48px;
    height: 300px;
    background: #fffcfc;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    line-height: 55px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.form-control{
    margin-bottom: 10px;
}
.card{
    background: #032344;
}